@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}



nav{
  min-height: 80px !important;
  background-color: white;
  color: #fff !important;
  /* box-shadow: 4px 4px 4px white,-4px -4px 4px white; */
}